@using WebApplication1.ApplicationContext
@model userscard

<link rel="stylesheet" href="~/css/style.css"  />
<form asp-controller="Admin" asp-action="Register" method="post">
    
    <div>
        <label>login</label>
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div> 
    <p>
        <button class="btn btn-primary btn-lg float-right" asp-action="Register" asp-controller="User" type="submit">Отправить</button>
    </p>
</form>
